@model List<ProductRatingViewModel>


@if (Model.Count > 0)
{
    <div class="row mt-3 justify-content-around">
        @foreach (var product in Model)
        {
            <div class="card col-md-4 mb-3">
                <div class="card-header bg-transparent border-success">
                    <img class="card-img-top" src="~/Image/@product.Product.ProductImage" alt="@product.Product.ProductName" width="30" height="300">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@product.Product.ProductName</h5>
                    <p class="card-text">@product.Product.ProductDescription</p>
                    <p class="card-text">$@product.Product.Price</p>
                    <div class="show-rating">
                        <span class="grey-stars">
                            <span class="gold-stars" style="width: @product.AverageRating%;"></span>
                        </span>
                    </div>
                </div>
                <div class="card-footer bg-transparent border-success">
                    <form method="post" action="@Url.Action("ShoppingCart", "Home")">
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <input type="hidden" name="productId" value="@product.Product.ProductId" />
                            <button type="submit" class="btn btn-primary btn-buy" type="button" onclick="alert('Product added to the cart!')">Add to cart</button>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
}
else
{
    <p class="mt-2">No results found</p>
}

